nav {
  background-color: black;
  text-align: start;
  height: 20%;
  margin: 0 auto;
  background-size: cover;
  size: small;
  margin-bottom: 0;
}
#ridimensionamento {
  width: 20%;
  margin: 10px;
}

header {
  text-align: center;
  padding-bottom: 77px;
  margin-top: -33px;
}
.sfondo {
  background-image: url(./Esercizio/images/banner.jpg);
  background-size: cover;
  width: 100%;
}
h1 {
  color: #25a2c3;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
  padding-top: 50px;
}
.uno {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #393d41;
}
button {
  color: white;
  background-color: #f04c2f;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #f04c2f;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  padding: 3px 10px;
  width: 180px;
  height: 50px;
}
main {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
}
h2.secondo {
  color: #25a2c3;
  text-align: start;
  padding-right: 0px;
}
h2 {
  color: #25a2c3;
  text-align: center;
  padding-left: 25px;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: rgb(114, 111, 111);
}
div.sposta {
  padding-top: 100px;
  padding-bottom: 80px;
}
p.secondo {
  text-align: start;
  padding-right: 0px;
  margin-left: 20px;
}
.radius {
  border-radius: 100%;
  border: 1px solid white;
  padding-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  margin-top: 60px;
  margin-left: 50px;
}

.cambio {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}
.secondaparte {
  text-align: center;
  background-color: #f04c2f;
  color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
p.bianco {
  color: white;
}
h4 {
  font-family: "Poppins";
}

.foto {
  margin-top: 50px;
  width: 300px;
}
.terzaparte {
  justify-content: center;
  display: flex;
  text-align: center;
}
div.spazio {
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(225, 211, 211);
}

footer {
  text-align: center;
  color: white;
  background-color: #25a2c3;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
a {
  color: white;
  line-height: 30px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
hr.taglio {
  width: 250px;
}

p.finale {
  color: white;
}
